<!DOCTYPE html>
  <head>
    <title>Air Stable</title>
  </head>
  <body>
    <header>
      <h1>Air Stable</h1>
      <p>Share a "Neigh"-borly stable!</p>
    </header>
    <section>
      <%= yield %>
    </section>
  </body>