<form action="/users/login" method="post">
  <fieldset>
      <label for="email">Email Address</label><br>
      <input type="text" name="user[email]" id="email"><br>
      <label for="password">Password</label><br>
      <input type="password" name="user[password]" id="password"><br>
      <input type="submit" value="Log In">
  </fieldset>
</form>
<p>Not a member? <a href = "/users/new"><u>Register Now!</u></a></p>