<!DOCTYPE html>
  <head>
    <title>Air Stable</title>
    <link rel="stylesheet" media="screen" type="text/css" href="/style.css"/>
  </head>
  <body>
    <header>
      <h1>Air Stable</h1>
      <p>Share a "Neigh"-borly stable!</p>
    </header>
    <nav>
      <% if logged_in? %>
        <p>Welcome, <%= current_user.name %></p>
        <form method="POST" action="/users/logout">
          <input type="hidden" name="_method" value="DELETE"/>
          <button>Log Out</button>
        </form>
      <% end %>
    </nav>
    <section>
      <%= yield %>
    </section>
  </body>
