
<form action="/users/new" method="post">
  <fieldset>
      <label for="name">Nick Name:(How others see you)</label><br>
      <input type="text" name="user[name]" id="name"><br>
      <label for="email">Email Address</label><br>
      <input type="text" name="user[email]" id="email"><br>
      <label for="password">Password</label><br>
      <input type="password" name="user[password]" id="password"><br>
      <label for="password">Confirm Password</label><br>
      <input type="password" name="user[password]" id="password"><br>
      <input type="submit" value="Register">
  </fieldset>
</form>
<p>Already a member? <a href = "/"><u>Log in!</u></a></p>