<!--Test comment-->
<form action="/users/new" method="post">
  <fieldset>
      <label for="name">Nick Name:(How others see you)</label><br>
      <input type="text" name="user[name]" id="name" value="<%= @user.name %>"><br>
      <label for="email">Email Address</label><br>
      <input type="text" name="user[email]" id="email" value="<%= @user.email %>"><br>
      <%= erb :_error, { :locals => { :errors => @user.errors[:email] } } %>
      <label for="password">Password</label><br>
      <input type="password" name="user[password]" id="password"><br>
      <%= erb :_error, { :locals => { :errors => @user.errors[:password] } } %>
      <!--Need to confirm password still
      <label for="password">Confirm Password</label><br>
      <input type="password" name="user[password]" id="password"><br>-->
      <input type="submit" value="Register">
  </fieldset>
</form>
<p>Already a member? <a href = "/">Log in!</a></p>
