
<hr>
<form method="GET" action="/stalls/new">
  <button class="fullwidth" type="submit">Add a Stall</button>
</form>

<hr>

<h3>Incoming Requests</h3>

<p>Put requests here</p>

<button type="submit">Approve</button>
<button type="submit">Reject</button>

<h3>Outgoing Requests</h3>

<p>sample stable - accepted</p>
